*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  user-select: none;
}

body {
  overflow-x: hidden !important;
}

html,
body,
#app {
  display: flex;
  overflow: visible;
  max-height: 100vh;
  align-items: center;
  flex-flow: column;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
  font-family: "ManropeVariable", "Manrope", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-variation-settings: "wght" 400;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #00080a;
  color: #ffffff;
  --color-blue: #0066ff;
  --color-red: #9f504b;
  --color-green: #356b44;
}

a {
  color: #ffffff;
  margin-top: 50px;
  display: block;
  font-weight: 800;
  font-variation-settings: "wght" 800;
  letter-spacing: -0.03em;
}

.widen {
  width: 600px !important;
  display: block;
}

.header {
  margin-top: 50px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-bottom: 20px;
  background-color: #00080a;
  display: flex;
  flex-flow: row;
  height: min-content;
}

.arctic {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  z-index: 999999999;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 800;
  font-variation-settings: "wght" 800;
  letter-spacing: -0.03em;
}

p {
  overflow-wrap: break-word;
}

a {
  color: inherit;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.anim--slide-right {
  animation: slide-right 0.2s ease-out;
}

.devContainer {
  overflow: visible;
  max-width: 600px;
}

.modulesContainer {
  flex-flow: column;
  display: flex;
}

.textareaParent {
  display: grid;
  font-family: "JetBrains MonoVariable";
}

.textareaParent code {
  white-space: pre-wrap;
  pointer-events: none;
}

.textareaParent>textarea {
  resize: none;
  overflow: hidden;
  color: #ffffff;
  background-color: #ffffff00;
  /*opacity: 0.75;*/
  outline: none;
  user-select: text;
}

.textareaParent textarea,
.textareaParent code {
  border: 0px solid #ffffff00;
  padding: 0rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  min-height: 500px;
  /*overflow: visible;*/
  word-wrap: anywhere;
}

span.line span.value {
  /*opacity: 0;*/
}

span.line span.result {
  word-wrap: normal;
  padding-left: 20px;
  position: sticky;
  right: 0px;
  background: linear-gradient(90deg, transparent 0%, #00080a 10%);
}

span.line span.result[data-type="undefined"] {
  opacity: 0;
}

span.line span.result:before {
  content: attr(data-symbol);
  margin-right: 5px;
}

span.line span.result[data-type="error"] {
  color: var(--color-red);
}

.loaderSpinner {
  font-variant-numeric: tabular-nums;
}

.status-container svg {
  width: 1rem;
  height: 24px;
  display: block;
}

.status-container {
  display: flex;
  gap: 20px;
}

.status-container p {
  font-variant-numeric: tabular-nums;
}

.status-container[data-status="error"] p,
.status-container[data-status="error"] svg {
  color: var(--color-red);
}

.status-container[data-status="loading"] svg {
  animation: spin 1s linear infinite;
  stroke: currentColor !important;
}

.status-container[data-status="error"] svg line {
  stroke-dasharray: 9px;
  stroke-dashoffset: 0;
  animation: lineAnim 0.2s ease-out;
}

.status-container[data-status="error"] svg circle {
  stroke-dasharray: 62px;
  stroke-dashoffset: 0;
  animation: circleAnim 0.2s ease-out;
}

.status-container[data-status="check"] svg polyline {
  stroke-dasharray: 19px;
  stroke-dashoffset: 38px;
  animation: checkAnim 0.2s ease-out;
}

.status-container[data-status="check"] svg path {
  stroke-dasharray: 52px;
  stroke-dashoffset: 0;
  animation: strokeAnim 0.2s ease-out;
}

@keyframes checkAnim {
  from {
    stroke-dashoffset: 19;
  }

  to {
    stroke-dashoffset: 38;
  }
}

@keyframes strokeAnim {
  from {
    stroke-dashoffset: 52;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnim {
  from {
    stroke-dashoffset: 9px;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes circleAnim {
  from {
    stroke-dashoffset: 62px;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.symbol {
  pointer-events: all;
  position: relative;
}

.symbol:after {
  content: attr(data-value);
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #00080a;
  top: 0px;
  transform: translate(-50%, -100%);
  left: 50%;
  padding: 5px 10px;
  border: 1px solid var(--color-blue);
  border-radius: 3px;
  animation: slide-up 0.2s ease-out;
  word-wrap: normal;
  text-align: center;
}

.symbol:before {
  content: "";
  display: none;
  position: absolute;
  z-index: 1000;
  top: 3px;
  transform: translate(-50%, -100%) rotate(45deg);
  left: 50%;
  border-right: 1px solid var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
  width: 6px;
  height: 6px;
  background-color: var(--color-blue);
}

.symbol:hover {
  color: var(--color-blue) !important;
}

.symbol:hover:before,
.symbol:hover:after {
  display: block;
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, -100%) translateY(3px);
  }

  100% {
    transform: translate(-50%, -100%) translateY(0%);
  }
}

@keyframes slide-up-rotate {
  0% {
    transform: translate(-50%, -100%) translateY(10%) rotate(45deg);
  }

  100% {
    transform: translate(-50%, -100%) translateY(5%) rotate(45deg);
  }
}

.statusSlider {
  width: 100%;
}

.statusSlider div {
  background-color: #ffffff;
  height: 2px;
  border-radius: 5px;
  margin: 2rem 0px 1rem 0px;
  transition: height 0.2s ease, margin 0.2s ease;
}

.statusSlider div[data-status="100"] {
  animation: slide-100 2s ease;
  margin: 0rem 0rem 0rem 0rem;
  opacity: 0;
  height: 0px;
}

@keyframes slide-100 {

  0%,
  75% {
    opacity: 1;
    margin: 2rem 0px 1rem 0px;
  }

  100% {
    opacity: 0;
    margin: 0rem 0rem 0rem 0rem;
  }
}