*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  user-select: none;
}
html,
body,
#app {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  isolation: isolate;
  font-family: "ManropeVariable", "Manrope", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-variation-settings: "wght" 400;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: #00080a;
  color: #ffffff;
  --color-blue: #0066ff;
  --color-red: #9f504b;
  --color-green: #356b44;
}
#app,
main {
  max-width: calc(100vw - 50px);
}
.widen {
  width: 600px !important;
  max-width: calc(100vw - 50px);
  display: block;
}
.arctic {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 3rem;
  z-index: 999999999;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 800;
  font-variation-settings: "wght" 800;
  letter-spacing: -0.03em;
}
p {
  overflow-wrap: break-word;
}
a {
  color: inherit;
  text-decoration: none;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.anim--slide-right {
  animation: slide-right 0.2s ease-out;
}

.devContainer {
  height: 500px;
  overflow: auto;
}

.modulesContainer {
  flex-flow: column;
  display: flex;
}

.textareaParent {
  display: grid;
  font-family: "JetBrains MonoVariable";
}
.textareaParent code {
  white-space: pre-wrap;
  pointer-events: none;
}
.textareaParent > textarea {
  resize: none;
  overflow: hidden;
  color: #ffffff;
  background-color: #ffffff00;
  opacity: 0.75;
  outline: none;
  user-select: text;
}
.textareaParent textarea,
.textareaParent code {
  border: 0px solid #ffffff00;
  padding: 0rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
  min-height: 500px;
}

span.line span.value {
  opacity: 0;
}

span.line span.result {
  padding-left: 20px;
  position: sticky;
  right: 0px;
  background: linear-gradient(90deg, transparent 0%, #00080a 10%);
}
span.line span.result[data-type="undefined"] {
  opacity: 0;
}

span.line span.result:before {
  content: attr(data-symbol);
  margin-right: 5px;
}
span.line span.result[data-type="error"] {
  color: var(--color-red);
}

.loaderSpinner {
  font-variant-numeric: tabular-nums;
}

.status-container svg {
  width: 1rem;
  height: 24px;
  display: block;
}
.status-container {
  display: flex;
  gap: 20px;
}

.status-container[data-status="error"] p,
.status-container[data-status="error"] svg {
  color: var(--color-red);
}
.status-container[data-status="loading"] svg {
  animation: spin 1s linear infinite;
  stroke: currentColor !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
